$white: #FFFFFF;
$primaryColor:#03A4A9;


body
{
  background-color:#FFFFFF;
}
#root
{
  max-width: 1200px;
  margin: 0 auto;
  input
  {
    width:250px;
    padding:5px;
    border:1px solid #F0F0F0;
    border-radius: 5px;
  }
  button
  {
    border:0;
    padding:5px;
    min-width:100px;
    text-align: center;
    color:#fff;
    background-color: #03A4A9;
  }
}

db.ratingapp.insert({
  name: "Vinoth Kumar",
  dob: 10/10/1987,
  doj: now,
  active:0,
  user_id:1
})