$white: #ffffff;
$primaryColor: #03a4a9;
* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
}
#root {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  input {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
  }
  button {
    border: 0;
    padding: 10px;
    min-width: 100px;
    text-align: center;
    color: #fff;
    background-color: #03a4a9;
  }
}
